services:
  - type: web
    name: storeadmin-catalog-portal
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    pullRequestPreviewsEnabled: false
    headers:
      - path: /*
        name: X-Robots-Tag
        value: noindex
      - path: /*
        name: Cache-Control
        value: public, max-age=3600

